
.cat-slides {
  width: 280px;
  height: 245px;
  .offset_zero();

  .tablet ({
    width: 708px;
    height: 620px;
  });
}

.cat-slide__item {
  position: relative;
  z-index: 1;

  &--slide {
    display: none;
  }

  &--current {
    display: block;
  }
}

.cat-slide__image {
  position: absolute;
  z-index: 2;
  object-fit: contain;

  .tablet ({
    &--fat {
      width: 677px;
      height: 520px;
    }

    &--skinny {
      width: 545px;
      height: 520px;
    }
  });
}
