.contacts {
  &--background {
    background-color: @basic_grey;
  }
  position: relative;
}

.contacts__info {
  display: flex;
  justify-content: flex-start;
  padding-top: 28px;
  padding-bottom: 26px;

  .tablet ({
    display: grid;
    grid-template-columns: 170px 200px;
    justify-content: space-between;
    padding: 62px 42px 52px 42px;
  });

  .desktop ({
    position: absolute;
    z-index: 9;
    top: 95px;
    width: 570px;
    height: 201px;
    padding: 76px 66px 80px 50px;
    background-color: @basic_white;
  });
}

.contacts__cooperation {
  .font-oswald-uppercase(16px,20px);
  color: @special_black;
  .mp-zero();
  margin-right: 2px;

  .tablet ({
    .font-oswald-uppercase(20px,21px);
  });
}

.contacts__address {
  .font-arial(14px,20px);

  .tablet ({
    text-align: end;
  });
}

.contacts__address p {
  .mp-zero();
  .font-arial(16px,20px);
}

.contacts__map {
  width: 100%;
  max-width: 767px;
  margin: 0 auto;

  .tablet ({
    max-width: 1439px;
    margin: 0 auto;
  });

  .desktop ({
    max-width: 1440px;
    margin: 0 auto;
    position: relative;
  });
}

.contacts__iframe {
  width: 100%;
  max-width: 767px;
  min-height: 362px;
  margin: 0 auto;

  .tablet ({
    width: 100%;
    max-width: 1439px;
    min-height: 400px;
    margin: 0 auto;
  });

  .desktop ({
    width: 100%;
    min-height: 400px;
    margin: 0 auto;
  });
}
