.contacts {
  &--background {
    background-color: @basic_grey;
  }
}

.contacts__info {
  display: flex;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 170px 200px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 570px;
    height: 201px;
    padding: 76px 66px 80px 50px;
    background-color: @basic_white;
  }
}

.contacts__cooperation {
  .font-oswald-uppercase(16px,20px);
  color: @special_black;
  .mp-zero();
}

.contacts__address {
  .font-arial(14px,20px);

  @media (min-width: @tablet-width) {
    text-align: end;
  }
}

.contacts__address p {
  .mp-zero();
}

.contacts__map {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 768px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    margin: 0 auto;
  }
}
