.contacts__info {
  display: flex;
  margin-top: 28px;
  margin-bottom: 26px
}
.contacts__cooperation {
  .font-oswald-uppercase(16px,20px);
  color: @special_black;
  .mp-zero();
}
.contacts__address {
  .font-arial(14px,20px);
}
.contacts__address p{
  .mp-zero();
}
.contacts__map {
  width: 320px;
  margin: 0 auto;
}
