.example {
  background-color: @background_gray;
}

.example__title {
  padding-top: 27px;
}

.example__text {
  .font-arial( 14px, 20px);
}

.example__list {
  .list();
  display: flex;
}

.example__item {
  position: relative;
  .flex_center();
  text-align: center;
  &:first-of-type {
    margin-right: 32px;
  }
  margin-bottom: 25px;
}

.example__number {
  .font-oswald-uppercase(24px,24px);
  .flex_center();
  justify-content: center;
  width: 122px;
  min-height: 56px;
  border: 1px solid @special_grey;
  border-radius: 3px;
  padding-bottom: 3px;
}

.example__description {
  position: absolute;
  box-sizing: border-box;
  top: 47px;
  bottom: -2px;
  .font-arial(12px,12px);
  background-color: @background_gray;
  width: 87px;
  margin-left: 18px;
  margin-right: 19px;
  padding: 5px;
}

.example__costs {
  .font-oswald-uppercase(14px,20px);
  display: flex;
  justify-content: center;
}

.example__slide {
  .list();
}
