.footer {
  background-color: @basic_grey;
}

.footer__logo {
  .flex_center();
  justify-content: center;
  border-bottom: 1px solid @special_border;
  padding-top: 39px;
  padding-bottom: 31px;
}

.footer__social {
  .list();
  align-items: center;
  border-bottom: 1px solid @special_border;
  .flex_center();
  justify-content: center;
}

.footer__developer a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0;
}

