.form {
  .font-oswald-uppercase(16px,18px);
  color: @special_dark-grey;
}

.form__title {
  .wrapper-mobile();
  .font-oswald(36px,36px);
  border-top: 1px solid @special_border;
  padding-top: 26px;
  padding-bottom: 40px;
}

.form__text {
  .wrapper-mobile();
  .font-oswald-uppercase(14px,18px);
  margin-bottom: 15px;
}

.form__legend {
  .font-oswald(24px,26px);
}

.form__data,
.form__program {
  .wrapper-mobile();
  border: none;
  border-bottom: 1px solid @special_border;
}

.form__button {
  border: none;
  width: 100%;
}

.form__note {
  .font-arial(14px,18px);
}
