.form {
  .font-oswald-uppercase(16px,18px);
  color: @special_dark-grey;
}

.form fieldset {
  border: 0 none;
}

.form__title {
  .wrapper();
  .font-oswald(36px,36px);
  border-top: 1px solid @special_border;
  padding-top: 26px;
  padding-bottom: 40px;
  text-align: left;

  .tablet ({
    .font-oswald(60px,60px);
    border: none;
    margin-bottom: 54px;
  });
}

.form__text {
  .wrapper();
  .font-oswald-uppercase(14px,18px);
  margin-bottom: 15px;
  text-align: left;

  .tablet ({
    .font-oswald-uppercase(20px,30px);
    margin-bottom: 66px;
  });
}

.form__legend {
  .font-oswald(24px,26px);

  .tablet ({
    .font-oswald(36px,36px);
  });
}

.form__block {
  .desktop ({
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  });
}

.form__user ul {
  .desktop ({
    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  });
}

.form__button-block {
  display: flex;
}

.form__button {
  border: none;
  width: 100%;

  .tablet ({
    width: 285px;
  });

  .desktop ({
    width: 568px;
  });
}

.form__note {
  .font-arial(14px,18px);
}
