
.form-input {
  color: @special_dark-grey;
  display: flex;
  align-items: center;
}

.form-input__input {
  min-height: 45px;
  width: 100%;
  border: 1px solid @special_light-grey-border;
  padding: 11px 15px;
  margin-left: 13px;

  .tablet ({
  padding: 10px 20px 11px 20px;
  margin-left: 15px;
  });

  &:hover {
    border: 1px solid @special_grey;
  }

  &:focus {
    border: 2px solid @special_dark-grey;
  }
}

.error {
  border: 2px solid @status_error;
}
