
.header__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: center;
  align-items: flex-end;
  min-height: 66px;
}

.header__logo-image {
  margin-right: 56px;
}

.header__nav-button {
  display: flex;
  align-items: center;
  position: relative;
  background-color: @basic_white;
  border: none;
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-left: auto;
}

.header__lines {
  left: 0;
  &::before {
    content: "";
    left: 0;
    top: -8px;
  }
  &::after {
    content: "";
    left: 0;
    top: 8px;
  }
}

.header__lines::before,
.header__lines::after,
.header__lines {
  position: absolute;
  width: 24px;
  height: 1.5px;
  background-color: @basic_black;
  transition: 0.4s;
}

