.main-catalog__title {
  .mp-zero();
  .font-oswald(36px,36px);
  border-top: 1px solid @special_border;
  border-bottom: 1px solid @special_border;
  padding-top: 26px;
  padding-bottom: 40px;
  .wrapper-mobile();
}
.main-catalog__list {
  .list();
}
.main-catalog__item {
  .wrapper-mobile();
}
