.more-products legend {
  .tablet ({
    margin-bottom: 55px;
  });

  .desktop ({
    margin-bottom: 60px
  });
}

.more-products__list {
  .list();
  padding-left: 46px;
  padding-top: 5px;
  margin-bottom: 16px;

  .tablet ({
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 80px;
    row-gap: 43px;
    padding-left: 59px;
    margin-bottom: 60px;
  });

  .desktop ({
    grid-template-columns: repeat(4, 1fr);
    column-gap: 150px;
    margin-bottom: 66px;
  });
}

.more-products__label {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  cursor: pointer;

  .mobile ({
    padding-bottom: 24px;
  });
}

.more-products__input + .more-products__label {
  &::before {
    .content();
    width: 28px;
    height: 28px;
    border: 1px solid @special_grey;
    left: -45px;

    .tablet ({
      width: 40px;
      height: 40px;
      left: -60px;
    });
  }
}

.more-products__input:checked + .more-products__label {
  &::after {
    .content();
    background-image: url("../img/others_icon/checkbox-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 18px;
    height: 14px;
    left: -38px;

    .tablet ({
      width: 24px;
      height: 19px;
      left: -52px;
    });
  }
}

.more-products__input:disabled + .more-products__label {
  opacity: 0.3;
}

.more-products__input:hover + .more-products__label {
  &::before {
    border: 1px solid @special_grey-hover;
  }
}

.more-products__input:focus + .more-products__label {
  color: @basic_black;
}
