
.more-catalog__wrapper {
  margin-bottom: 35px;
  .tablet ({
    margin-bottom: 76px;
  });
  .desktop ({
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 80px;
    justify-content: space-between;
    margin-bottom: 86px;
  });
}

.more-catalog__title {
  .font-oswald(24px,24px);

  .tablet ({
    .font-oswald(36px,36px);
    margin-top: 68px;
    margin-bottom: 80px;
  });

  .desktop ({
    margin-top: 75px;
    margin-bottom: 81px;
  });
}

.more-catalog__list {
  .list();
}

.more-catalog__promo {
  min-height: 289px;
  background-color: @basic_green;
  background-image: url("../img/background/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .desktop ({
    width: 245px;
    min-height: 245px;
  });
}

.more-catalog__promo-text {
  .font-arial(16px,20px);
  color: @basic_white;
  text-align: center;
  padding-top: 186px;
  padding-left: 58px;
  padding-right: 58px;
}
