
.more-catalog {
  .wrapper-mobile();
}

.more-catalog__title {
  .font-oswald(24px,24px);
}

.more-catalog__list {
  .list();
}

.more-catalog__promo {
  min-height: 289px;
  background-image: url("../img/background/gift-photo-mobile.jpg");
}

.more-catalog__promo-text {
  .font-arial(16px,20px);
  color: @basic_white;
  text-align: center;
  padding-top: 186px;
  padding-left: 58px;
  padding-right: 58px;
}
