
.nav__list {
  .list();
  border-bottom: 1px solid @border_menu;
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    border: none;
  }
}

.nav__item {
  &--current {
    border-bottom: 2px solid @basic_green;
  }
}

.nav__item a {
  background-color: @basic_white;
  .font-oswald-uppercase(20px,20px);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;

  @media (min-width: @tablet-width) {
    .font-oswald-uppercase(18px,24px);
  }
}
