
.nav__list {
  .list();
  border-bottom: 1px solid @border_menu;
  display: none;
}

.nav__item a {
  background-color: @basic_white;
  .font-oswald-uppercase(20px,20px);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 66px;
}
