
.promo {
  background-image: url("../img/background/index-background-mobil.png");
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 767px;
  position: relative;


  &::before {
    .bf();
    background-color: @background_green;
    top: 0;
    left: 0;
    bottom: 0;
    height: 302px;
    width: 100%;
    max-width: 767px;
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    background-image: none;

    &::before {
      display: none;
    }
  }
}

.promo__wrapper {
  position: relative;
  z-index: 10;

  @media (min-width: @desktop-width) {
    display: flex;
  }
}

.promo__block {
  @media (min-width: @tablet-width) {
    max-width: 610px;
    padding-left: 90px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 80px;
  }
}

.promo__title {
  .mp-zero();
  .font(@oswald,400,36px,36px,@basic_white);
  padding-top: 27px;
  text-align: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    .font(@oswald,400,60px,60px,@basic_black);
    text-align: left;
  }
}

.promo__text {
  .font(@oswald,400,14px,14px,@basic_white);
  text-transform: uppercase;
  margin-bottom: 29px;
  text-align: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    .font(@oswald,400,20px,20px,@basic_black);
    text-align: left;
  }
}

.promo__button {
  @media (min-width: @mobile-width-only) {
    order: 5;
  }

  @media (min-width: @tablet-width) {
    width: 244px;
  }
}
