.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  padding-top: 17px;
  padding-bottom: 15px;
}

.social__item {
  &:not(:last-of-type) {
    margin-right: 25px;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;

  &:hover .social__icon {
    fill: @basic_green;
  }

  &:active .social__icon {
    fill: @basic_green;
    opacity: 0.6;
  }

  &:focus {
    outline: none;

    & .social__icon {
      fill: @basic_green;
    }
  }
}

.social__icon {
  fill: @special_grey-2;

  &:hover {
    fill: @basic_green;
  }

  &--vk {
    width: 30px;
    height: 19px;
  }

  &--inst {
    width: 22px;
    height: 22px;
  }

  &--fb {
    width: 18px;
    height: 28px;
  }
}

