
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  width: 100%;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.29;
  font-family: @arial;
  color: @special_dark-grey;

  background-color: @basic_white;

  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.page-body {
  min-width: 320px;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
  }
}

.wrapper {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: @tablet-width) {
    width: 100%;
    max-width: 708px;
    margin: 0 auto;
    padding: 0 30px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }
}
